# Kakao OAuth 인증 정보
OAUTH_KAKAO_CLIENT_ID=여기에_카카오_클라이언트_ID_입력
OAUTH_KAKAO_CLIENT_SECRET=여기에_카카오_클라이언트_시크릿_입력

# AWS 자격 증명
AWS_ACCESS_KEY=여기에_AWS_액세스_키_입력
AWS_SECRET_KEY=여기에_AWS_시크릿_키_입력
AWS_S3_BUCKET=여기에_S3_버킷_이름_입력

# 토스페이먼츠
TOSS_SECRET_KEY=여기에_토스페이먼츠_시크릿_키_입력

# JWT 토큰 시크릿 키
JWT_SECRET=여기에_JWT_시크릿_키_입력

# 데이터베이스 비밀번호
SPRING_DATASOURCE_PASSWORD=여기에_DB_비밀번호_입력
